/* Section contains all, sets font to times new roman, removes any link text decorations,
adds padding and margin to al elements, sets positioning of all elements, adds a border radius (corner curve),
and justifies all content.*/
* {
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    position: relative;
    flex: auto;
    border-radius: 1rem; 
    text-align: justify;
}
/* Small editing on positioning and margin of image. */
.image {
    margin: 10px, 10px;
}
/* Organizing the navbar around surrounding elements */
.navbar {
    text-align: justify;
}
/* removes dot notation on list items */
.navlist {
    list-style-type: none;
}
/* sets link "button" color to green, removes text decorations for links (redundant) sets a transition for hover styling,
justifies content to center */
a {
    background-color: green;
    text-decoration: none;
    transition: color;
    display:grid;
    text-align: center;
    justify-content: center;
    color: yellow;
}
/* sets links to turn background yellow, text green, on hover with mouse */
a:hover {
    background-color: yellow;
    color: green;
}
/* changes background color */
.introSent {
    background-color: orange;
}
/* changes background color */
.nameHead {
    background-color: red;
}
/* changes background color */
.skills {
    background-color: red;
}
/* changes background color */
.hobbies {
    background-color: green;
}
/* changes background color */
.interests {
    background-color: orange;
}
/* changes background color */
.skillsHead {
    color: red;
}
/* changes background color */
.hobbiesHead {
    color: green;
}
/* changes background color */
.interestsHead {
    color: orange;
}
/* sets blocks positioning and justification */
.aboutMe {
    display: flex;
    text-align: center;
    justify-content: center;
}
/* colors header, justifies content */
.aboutHead {
    text-align: center;
    justify-content: center;
    display: flex;
    background-color: blueviolet;
}